
<div id="chat-icon" style="position: fixed; bottom: 20px; right: 20px; z-index: 10000; cursor: pointer;">
    <i class="fa fa-comments" style="font-size: 40px; color: #0084ff;"></i>

        <!-- Facebook Messenger Chat Plugin -->
        <div id="fb-root"></div>
        <script>
        window.fbAsyncInit = function() {
            FB.init({
            xfbml: true,
            version: 'v17.0'
            });
        };

        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
        </script>
        <!-- Chat Plugin Code -->
        <div class="fb-customerchat"
            attribution="setup_tool"
            page_id=654427364411979
            theme_color="#0084ff"
            logged_in_greeting="Xin chào! Tôi có thể giúp gì cho bạn?"
            logged_out_greeting="Xin chào! Tôi có thể giúp gì cho bạn?">
        </div>
    </i>
</div>    

